@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-grid';
@import '@economist/component-icon';

.bar-wrapper {
  padding:
    var(--barwrapper-vertical-padding, var(--grid-spacing-sheep))
    var(--barwrapper-horizontal-padding, var(--grid-gutter-s));
  font-family: var(--barwrapper-font-family, var(--fontfamily-sans));
  font-size: var(--barwrapper-font-size, var(--text-size-step--2));
  line-height: var(--barwrapper-line-height, var(--text-line-height-sans-on-step--2));
}

.bar-wrapper--close {
  /* Not magic numbers.
   * The icon is supposed to have 1em of height, but it currently has
   * 1em of useless space surrounding it. */
  width: 2em;
  height: 2em;
}

.bar-wrapper--close-wrapper {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  margin: -1em;
  padding: 1em;
  cursor: pointer;
  /* Fat-finger friendliness */
  /* padding:1em offsets it to the sides, pull it back in. */
}

.bar-wrapper--container {
  position: relative;
  max-width: var(--barwrapper-max-width, 1000px);
  margin: auto;
  padding-right: var(--barwrapper-close-right-spacing, var(--grid-spacing-camel));
}
